import localization from "../../localization.json" with { type: "json" };
const l10n = localization.content.;

import { EmbedBuilder } from "discord.js";
import config from "../../config.json" with { type: "json" };

/**
 * @param {import("discord.js").Client} client
 * @param {import("discord.js").CommandInteraction} interaction
 * @param {string} locale
 */
export default (client, interaction, locale) => {
    if (!interaction.isChatInputCommand()) return;
};
